.container{
  width: 90%;
  margin: 0 auto;
  padding: 0;
  .hero{
    display:flex;
    justify-content: space-around;




    .infoOfLevelsDisplay{
      display: flex;
      flex-direction: column;
      align-items: start;
      margin: 130px 0 0 0;


      h1{
        margin: 40px 0 20px 0;
      }
      .skin-selector{
        width: 340px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;


        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px
        }


        img{
          width: 80px;
        }

        .buySkinButton{
          width: 95px;
          height: 30px;
          padding: 5px ;
          background: lightcoral;
          color: whitesmoke;
          border: none;
          border-radius: 5px;
        }

        button{
            background: none;
            border: 2px solid lightgreen;
          border-radius: 5px;
        }
      }

    }




    .centerItems{

      width: 280px;
      .mineContainer{
        width:280px;
        height:280px;

        display:flex;
        flex-direction: column;
        align-items:center ;
        justify-content : center ;

        .coin{
          width:250px;
          height:250px;
          border-radius:50%;
          background: gold;
          border: none;
          transition:50ms;
        }

        .coin:active{
          opacity:0.7;
          width:220px;
          height:220px;

        }
      }

      .batterySizeBorder{

        border: 1px solid black;
        border-radius: 3px;

        .batterySizeDisplay{
          border-radius: 2px;
          background: green;
          height: 5px;
          transition: 0.1s;

        }
      }


    }






    .button-container{
      margin: 130px 0 0 0;
        div{
          width: 350px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid black;
        }

        .add-click{
          width: 80px;
          height: 40px;

          padding: 10px;
          background: green;
          border:none ;
          color: white;
          border-radius: 5px;
        }

      .add-battery{
        width: 80px;
        height: 40px;
        color: white;
        padding: 10px;
        background: skyblue;
        border:none ;
        border-radius: 5px;

      }

      .add-speed{
        width: 80px;
        height: 40px;
        padding: 10px;
        color: #000000;
        background: yellow;
        border:none ;
        border-radius: 5px;
      }


    }

  }
}