/** @format */

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	.hero {
		display: flex;
		justify-content: space-around;

		@media screen and (max-width: 1020px) {
			&__mobile__hide {
				display: none;
			}
		}
	}

	.hero__mobile {
		display: grid;
		place-items: center;
		&__nav {
			display: none;
		}
		@media screen and (max-width: 1020px) {
			&__nav {
				display: flex;

				justify-content: space-around;
				align-items: center;
				min-width: 320px;
			}
			padding: 20px 0;

			button {
				padding: 10px 20px;
				margin: 0 10px;
				border: none;
				border-radius: 5px;
				font-size: 20px;
			}
		}
	}
}
