/** @format */

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0;
	.hero {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		@media screen and (max-width: 500px) {
		}
	}

	.hero__mobile {
		display: grid;
		place-items: center;

		&__nav {
			display: flex;

			justify-content: space-around;
			align-items: center;
			min-width: 320px;
			padding: 20px 0;

			button{
				padding: 10px 20px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
				font-size: 20px;
			}
		}
	}
}
