.container{
  width: 90%;
  margin: 0 auto;
  padding: 0;
  .hero{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      
    }
  }
}