/** @format */

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.navigate__home__btn {
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	margin-top: 30px;
}
@media screen and (min-width: 1020px) {
	.navigate__home__btn {
		display: none;
	}

	.hide__total__coins{
		display: none;
	}
}
